/* Body */
body{
    background-image: url("/public/assets/images/cookingTwo.gif") ;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Main */

ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
   
}
main.innercover {
    padding: 25px 25px 25px 25px;
    border: 10px 10px 10px 10px;
    margin: 25px 25px 25px 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h1 {
    font-family: 'Montez', cursive;
    font-size: 100px;
    color: #844685;
    text-align: center;
    padding-top: 10px;
    padding-top: 10px;
    display: block;
    font-style: oblique;
    opacity: 70%;
    margin-top: 200px;
   
}
.lead {
    color: #faf4ff;
    font-size: 65px;
    font-family: 'Montez', cursive;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-weight: bold;
 
}

/* Login Page Labels & Buttons */

label {
    color: #faf4ff;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.btn-primary {
    color: #f3c623;
    background-color: #faf4ff;
    border-color:#faf4ff;
    width: 250px;
    margin-bottom: 20px;
    border-radius: 0px;
    border-width: 5px;
    font-weight: bold;
    
}

a {
    color: #f3c623;
    background-color: transparent;
    border-color:#844685;
    text-decoration: none;
    text-decoration-color: #f3c623;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
}

a:link {
    color: #f3c623;
    background-color: transparent;
    border-color:#844685;
    text-decoration: none;
    text-decoration-color: #f3c623;
    text-decoration-line: none;
    -webkit-text-decoration-skip: objects;
}
#loginRecipes:hover {
    color: #faf4ff;
    background-color: transparent;
    border-color:#faf4ff;
    text-decoration-color: #f3c623;
    -webkit-text-decoration-skip: objects;
}

.btn-primary:active {
    color: #844685;
    background-color: #844685;
}

.btn-outline-success {
    color: #f3c623;
    border-color: #f3c623;
}

.btn:hover {
    color: #faf4ff;
    background-color: transparent;
    border-color:#faf4ff;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button#popbtn.btn.btn-primary
{
    color: #faf4ff;
    background-color: #844685;
}

button#stickbtn.btn.btn-primary
{
    color: #faf4ff;
    background-color: #844685;
    border-color: #844685 ;
}

.btn-secondary {
    color: #faf4ff;
    background-color: #844685;
    border-color: #844685;
}

.btn-secondary:hover {
    color: #faf4ff;
    background-color: #844685;
    border-color: #844685;
}

.btn-secondary:active {
    color: #faf4ff;
    background-color: #844685;
    border-color: #844685;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

